<mat-grid-list cols=5 rowHeight="1:2">
	<mat-grid-tile  class="my-grid-tile" colspan=1 rowspan=1>
			<div class="row">
<a mat-list-item class="card mr-1 mat-elevation-z2 font-weght-bold text-lg" 
 *ngFor="let link of navLinks"
[routerLink]="link.path" 
(Onclick)="activeLinkIndex"
		 >
<br> <span class="font-weight-bold py-0">{{link.label}}
 
</span>
 </a>

</div>
</mat-grid-tile> 
<mat-grid-tile  class="my-grid-tile" colspan=4 rowspan=1>
	<router-outlet></router-outlet>
</mat-grid-tile> 
</mat-grid-list>