
  <div class="container">
    <div class="card  mat-elevation-z4 my-2"> 
        <mat-grid-list cols=1 rowHeight="10px">
            <mat-grid-tile  class="my-grid-tile" colspan=1 rowspan=3>
     <div class="card-header py-4 bg-light text-dark font-weight-bold"> 
       <h3 align="center">Create New Terminal</h3>
       <div [hidden]="submitted" style="width:300px;">
      </div> 
      </div>
      </mat-grid-tile>
</mat-grid-list>     
 <div style="align-self: center">
    <form [formGroup]="createterminal" class="card-body pt-2 pb-0 text-sm">
 <mat-grid-list cols=2 rowHeight="100px">
         <mat-grid-tile  class="my-grid-tile" colspan=1 rowspan=3>
     <div class="row"> 
         <mat-form-field class="col-md-4 col-sm-6 col-12">
           <input formControlName="terminalCode" matInput placeholder="Terminal code" [(ngModel)]="terminalcode_val" name="termcode" autocomplete="off" required minlength="6" maxlength="10">
         </mat-form-field>
         <mat-form-field class="col-md-4 col-sm-6 col-12">
           <input formControlName="bookingCode" matInput placeholder="Booking Code"  [(ngModel)]="bookingcode_val" required minlength="4" maxlength="10">
              </mat-form-field>
              <mat-form-field class="col-md-4 col-sm-6 col-12">
              <input formControlName="windowNumber" matInput placeholder="Window No" [(ngModel)]="windowno_val" required minlength="1" maxlength="10"
             > 
            </mat-form-field>
            
            <div></div>
             <mat-form-field class="col-md-3 col-sm-6 col-12">
               <input formControlName="terminalType" matInput placeholder="Terminal Type" [(ngModel)]="terminaltype_val" name="termtype" autocomplete="off" required minlength="6" maxlength="10">
             </mat-form-field>
             <mat-form-field class="col-md-3 col-sm-6 col-6">
               <input formControlName="terminalIp" matInput placeholder="Terminal Ip" [(ngModel)]="terminalip_val" name="termip" autocomplete="off" required minlength="6" maxlength="20">
             </mat-form-field>
             <mat-form-field class="col-md-3 col-sm-6 col-6">
               <input formControlName="posTid" matInput placeholder="Pos TID" [(ngModel)]="postid_val" name="postid" autocomplete="off" required minlength="6" maxlength="10">
             </mat-form-field>
             <div></div>
             <mat-form-field class="col-md-3 col-sm-6 col-12">
               <input formControlName="Bank" matInput placeholder="Bank Name" [(ngModel)]="bankname_val" name="postid" autocomplete="off" required minlength="6" maxlength="10">
             </mat-form-field>
             <mat-form-field class="col-md-3 col-sm-6 col-12">
               <input formControlName="ServiceProvider" matInput placeholder="Service Provider" [(ngModel)]="serviceprovider_val" name="postid" autocomplete="off" required minlength="6" maxlength="10">
             </mat-form-field>
             <mat-form-field class="col-md-3 col-sm-6 col-12">
               <input formControlName="PosVersioncode" matInput placeholder="Pos Version Code" [(ngModel)]="posversioncode_val" name="postid" autocomplete="off" required minlength="6" maxlength="10">
             </mat-form-field>
  </div> 
</mat-grid-tile> 
<mat-grid-tile  class="my-grid-tile" colspan=1 rowspan=3>
 
      <div class="checkter">To Check the Terminal UTS/PRS/Both

         <mat-radio-group [(ngModel)]="check" 
                           formControlName="check" >
                <br><mat-radio-button value=1>PRS </mat-radio-button>
                <mat-radio-button value=2>UTS</mat-radio-button>
                <mat-radio-button value=3>PRSandUTS</mat-radio-button>
         </mat-radio-group>
         </div>
       
      <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
                          <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
         <div class="prster" *ngIf="createterminal.value.check == 1||createterminal.value.check == 3">
            PRS Terminal
          <div>
               <mat-form-field>
              <mat-select placeholder="Appl.Terminal Type"
                          [(ngModel)]= "AppterType" 
                          formControlName="AppterType"  
                          >
                <mat-option *ngFor= "let AppType of AppTypes" [value]= "AppType.value">
                  {{AppType.viewValue}}
                </mat-option> 
              </mat-select>
            </mat-form-field>
            <mat-form-field >
              <mat-select placeholder="Terminal Parameter" 
                          [(ngModel)]= "TermParam" 
                          formControlName="TermParameter" disabled="false">
                <mat-option *ngFor= "let TermParam of TermParams" [value]= "TermParam.value">
                  {{TermParam.viewValue}}
                </mat-option> 
              </mat-select>
            </mat-form-field>
            <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
                <div>Terminal Operation Type</div>
          <mat-form-field>
              <mat-select placeholder="Terminal Oper Types1" 
                          [(ngModel)]= "TeroperType1" 
                          formControlName="TeroperType1" disabled="false">
                <mat-option *ngFor= "let OperType1 of OperTypes1" [value]= "OperType1.value">
                  {{OperType1.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="Terminal Oper Types2"
              [(ngModel)]= "TeroperType2" 
                          formControlName="TeroperType2" disabled="false">
                <mat-option *ngFor= "let OperType2 of OperTypes2" [value]= "OperType2.value">
                    {{OperType2.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <div></div> -->
            <mat-form-field>
                <mat-select placeholder="Terminal Oper Types3"
                [(ngModel)]= "TeroperType3" 
                          formControlName="TeroperType3">
                  <mat-option *ngFor= "let OperType3 of OperTypes3" [value]= "OperType3.value">
                      {{OperType3.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              <mat-form-field>
                  <mat-select placeholder="Terminal Oper Types4"
                  [(ngModel)]= "TeroperType4" 
                          formControlName="TeroperType4">
                    <mat-option *ngFor= "let OperType4 of OperTypes4" [value]= "OperType4.value">
                        {{OperType4.viewValue}}
                      </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
       </div>
      </div>
   <div class="utster" *ngIf="createterminal.value.check == 2||createterminal.value.check == 3">
         <div>UTS Terminal</div>
         <mat-form-field class="col-md-3 col-sm-6 col-12">
            <input formControlName="MacAddress" matInput placeholder="Mac Address" [(ngModel)]="macadress_val" name="MacAddress" autocomplete="off" required minlength="18" maxlength="20">
          </mat-form-field>
          <mat-form-field class="col-md-3 col-sm-6 col-12">
              <input formControlName="StationServerID" matInput placeholder="Station Server ID" [(ngModel)]="stationserverid_val" name="StationServerID" autocomplete="off" required minlength="8" maxlength="20">
            </mat-form-field>
            
    </div>  
    </div>
    </div>
  </mat-grid-tile>  
  </mat-grid-list> 

<div class="btn-group" align="center">
<mat-action-row>
  <button mat-button  type="submit" (click)="newTdm(terminalcode_val,bookingcode_val,windowno_val,terminaltype_val,terminalip_val,postid_val,bankname_val,serviceprovider_val,posversioncode_val,AppterType,TermParam,TeroperType1,TeroperType2,TeroperType3,TeroperType4,macaddress_val,stationserverid_val)">Submit</button>
  <button mat-button   type="submit">Clear</button> 

</mat-action-row>
 
</div>
</form>
 </div> 
 </div> 
</div>