  
  
  <div>
    <form [formGroup] = "lfForm" (ngSubmit)="onSubmit()">
      <h3 align="center">LOST-FOUND ID MANAGEMENT</h3>
  <mat-card style="align-self: center" > 
    <mat-grid-list cols=12 rowHeight="70px">
      <div class="content">
      <mat-grid-tile colspan=12 rowspan=1> 
        <h3>{{subtitle1}}</h3>
      </mat-grid-tile>
    
      <mat-grid-tile colspan=4 rowspan=1>
        <mat-form-field >
          <mat-select placeholder="ID-Type" 
                      [(ngModel)]= "idType" 
                      (change)="setIdType($event)" 
                      formControlName="idType">
            <mat-option *ngFor= "let IDType of IDTypes" [value]= "IDType.value">
              {{IDType.viewValue}}
            </mat-option> 
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    
        <mat-grid-tile colspan=4 rowspan=1>
            <div *ngIf="dispConcCode">
              <mat-form-field>
                  <mat-select placeholder="Concession-Code" [disabled]="disabled"
                              [(ngModel)] = "lfConcCode"
                              (change)="concCodeSelection($event)"
                              formControlName="lfConcCode">
                      <mat-option *ngFor= "let cCode of concCodes" [value]= "cCode.value">
                          {{cCode.value}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=4 rowspan=1>
            <div *ngIf="dispClassCode">
                <mat-checkbox ng-model="isChecked" 
                ng-disabled="true"
                (change)="classCodeSelection($event)"
                ng-model="isDisabled">1A
                <mat-checkbox  name="class"  disabled="true" id="chk1">1A</mat-checkbox>
           <mat-checkbox  name="class"    disabled="true" id="chk2">2A</mat-checkbox>
           <mat-checkbox  name="class"   disabled="true" id="chk3">3A</mat-checkbox>
           <mat-checkbox name="class"    disabled="true" id="chk4">FC</mat-checkbox>
           <mat-checkbox  name="class"    disabled="true" id="chk5">SL</mat-checkbox>
           <mat-checkbox  name="class"   disabled="true" id="chk6">2S</mat-checkbox>
              </mat-checkbox> 
        <!-- <mat-checkbox  placeholder="Class-Code" [disabled]="disabled"
                           [(ngModel)] = "lfClassCode"
                             (change)="classCodeSelection($event)"
                            formControlName="lfClassCode">-->
         <!-- 1A</mat-checkbox>-->
               
          </div>
      </mat-grid-tile>

        <mat-grid-tile colspan=4 rowspan=1>
          <div class="Series">Series Updation</div>
            <mat-radio-group [(ngModel)]="seriesYes" (change)="seriesSelection($event)" formControlName="seriesYes">
              <mat-radio-button value="1">Yes</mat-radio-button>
              <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>
    
        <mat-grid-tile colspan=2 rowspan=1></mat-grid-tile>
  
        <mat-grid-tile colspan=4 rowspan=1>
            <div class="Serial">Serial Number</div>
        </mat-grid-tile>
        <mat-grid-tile colspan=6 rowspan=1>
              <div class="SrlInput" >
                  <mat-form-field >
                 <input matInput  placeholder="Serial Number Start" formControlName="seriesStart"> 
                </mat-form-field>
              </div>
              
              <div class="SrlInput" *ngIf="lfForm.value.seriesYes == 1">
                  <mat-form-field >
                 <input matInput  placeholder="Serial Number End" formControlName="seriesEnd">
                </mat-form-field>
              </div>
        </mat-grid-tile>
        
        <!-- <mat-grid-tile colspan=2 rowspan=1></mat-grid-tile> -->
      
        <mat-grid-tile colspan=2 rowspan=1></mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=1>
            <div class="Serial">Reference Letter</div>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=1>
            <form class="RefLtr">
                <mat-form-field style="width:350px">
               <input matInput>
              </mat-form-field>
              </form>
        </mat-grid-tile>
        <mat-grid-tile colspan=2 rowspan=1></mat-grid-tile>
    
        <mat-grid-tile colspan=2 rowspan=1></mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=1>
            <div class="Serial">Issuing Authority</div>
        </mat-grid-tile>
        <mat-grid-tile colspan=4 rowspan=1>
              <form class="RefLtr">
                <mat-form-field style="width:350px">
                 <input matInput>
                </mat-form-field>
              </form>
        </mat-grid-tile>
        <mat-grid-tile colspan=2 rowspan=1></mat-grid-tile>
    
        <mat-grid-tile colspan=12 rowspan=1>
            <button mat-button class="Final"> Submit</button>
            <button mat-button class="Final"> Reset</button>
        </mat-grid-tile>
        
      </div>
    
    </mat-grid-list>
    
    <mat-menu #reportloss="matMenu" [overlapTrigger]="false" >
      <!-- <button #token="matMenuItem" mat-menu-item [matMenuTriggerFor]="token" value="Token" (mouseover)="setIdType(token.value)">Metal Tokens</button> -->
      
      <button #token="matMenuItem" mat-menu-item [matMenuTriggerFor]="token" value="Token" >Metal Tokens</button>
      <button mat-menu-item [matMenuTriggerFor]="series" value="Passes" >Passes</button>
      <button mat-menu-item [matMenuTriggerFor]="series">BPT</button>
      <button mat-menu-item [matMenuTriggerFor]="series">EFT</button>
      <button mat-menu-item [matMenuTriggerFor]="series">Vouchers</button>
      <button mat-menu-item [matMenuTriggerFor]="series">Ticket Rolls</button>
    </mat-menu>
    
    <mat-menu #token="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [matMenuTriggerFor]="series">Dtpass</button>
      <button mat-menu-item [matMenuTriggerFor]="series">Others</button>
    </mat-menu>
    
    <mat-menu #series="matMenu" [overlapTrigger]="false" >
      <button mat-menu-item >Single Id</button>
      <button mat-menu-item >ID Range</button>
    </mat-menu>
    </mat-card>
  </form>
  </div>
  
  
  